[package]
name = "avanguard"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
model_derive = { path = "model-derive" }
actix-web = "4.2.1"
anyhow = "1.0.68"
clap = { version = "4.1.1", features = ["derive", "env"] }
env_logger = "0.10.0"
log = "0.4.17"
secp256k1 = { version = "0.26.0", features = ["recovery", "rand-std", "global-context"] }
serde = { version = "1.0.152", features = ["derive"] }
sqlx = { version = "0.6.2", features = ["runtime-actix-native-tls", "postgres", "chrono", "offline", "uuid"] }
thiserror = "1.0.38"
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
uuid = { version = "1.2.2", features = ["v4"] }
ethers = { version = "1.0.2", features = ["eip712"] }
serde_json = "1.0.91"
openidconnect = "2.5.0"
chrono = "0.4.23"
actix-cors = "0.6.4"

[dev-dependencies]
jsonwebtoken = "8.2.0"
