[package]
name = "avanguard"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.2.1"
anyhow = "1.0.68"
clap = { version = "4.1.1", features = ["derive", "env"] }
env_logger = "0.10.0"
log = "0.4.17"
sqlx = { version = "0.6.2", features = [ "runtime-actix-native-tls" , "postgres" ] }
thiserror = "1.0.38"
